//Basic Settings
log4j.rootCategory=DEBUG, dest1
log4j.appender.dest1=org.apache.log4j.ConsoleAppender
log4j.appender.dest1.layout=org.apache.log4j.PatternLayout
log4j.appender.dest1.layout.ConversionPattern=%r [%t] %p %c %x - %m%n
   

//******************************************************************************
// Význam konverzních parametrů
// %n - nový řádek                          
// %m - uživatelem definovaná logovací zpráv
// %p - priorita zprávy (FATAL, ERROR, WARN, INFO, DEBUG)
// %r - počet milisekund od startu programu
// %% - výpis znaku % na výstup                                                                                     
// %c - jméno loggeru, %c{2} vypíše dvě poslední jména komponenty 
// %t - jméno současného threadu                                                 

// Konverze zpomalující rychlost logování
// %d - datum a čas, taky použitím %d{ISO8601}, %d{DATE}, %d{ABSOLUTE},               
//      %d{HH:mm:ss,SSS}, %d{dd MMM yyyy HH:mm:ss,SSS} atd.             
// %l - zkratka pro formátovací masku %F%L%C%M                                                  
// %F - jméno javovského zdrojového souboru                                                  
// %L - číslo řádku                                                
// %C - jméno třídy, %C{1} vypíše poslední komponentu              
// %M - jméno metody

//Změna formátování                                                       
// %-jakýkoliv znak     - zarovnání vlevo (standard je zarovnání vpravo)  
// %20jakýkoliv znak    - minimální šířka je 20 znaků, zarovnání do sloupce         
// %.30jakýkoliv znak   - 30 maximální šírka je 30 znaků (odřízne začátek slova)
//******************************************************************************    
